<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/"> 
    <link rel="stylesheet" type="text/css" href="/css/navStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/about.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>About</title>
</head>
<body>
    <%- include('partials/navbar', {active: "About"}); %>
    <br>
    <br>
    <br>
    <br>

    <div class="container">
        <p>
            Hello, My name is Philani Mbeje.
        </p>
        <br>
        <p>
            I like coding
        </p>
        <br>
        <p>
            I also have frontend skills
        </p>
        <br>
        <p>
            Take a look at my completed <span><a href="./projects">projects</a></span> for a better understanding of what I can do.
        </p>

        <br>
        <br>
        <br>

        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-linkedin"></a>

        <br>
        <br>
        <br>

        <p class="cvLink">
            <span><a href=""></a>Click Here</a></span> to download my CV
        </p>
    </div>
</body>
</html>
