:root{
    --defaultBackground1: var(rgb(71, 105, 139) );
    --defaultBackground2: var(rgb(87, 202, 164) );
    --defaultBackground3: var(rgb(112, 50, 92) );
    --defaultBackground4: var(rgb(194, 154, 79) );
    --defaultBackground5: var(rgb(69, 231, 196) );
    --defaultBackground6: var(rgb(199, 58, 40) );
    --defaultBackground7: var(rgb(139, 46, 85) );
    --defaultBackground8: var(rgb(46, 235, 71) );
    --defaultBackground9: var(rgb(154, 156, 15) );
    --defaultBackground10: var(rgb(173, 157, 8) );
}
.body {
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
.credit{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #000;
}

.options{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 100%;
    max-width: 100%;
    width: calc(100%-100px);
    height: 400px;
}
.option{
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin:10px;
    background: var(--optionBackground, var(--defaultBackground6, #e6e9ed));
    background-size: auto 120%;
    background-position: center;
    cursor:pointer;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.option.active {
    flex-grow: 10000;
    transform: scale(1);
    min-width:500px;
    margin:0px;
    border-radius:40px;
    background-size: auto 100%;
}

.option.active .shadow {
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}

.option.active .label{
    bottom: 20px;
    left: 20px;
}

.option.active .info > div {
    left: 0px;
    opacity: 1;
}

.option:not(.active){
    flex-grow:1;
    border-radius: 30px;
}

.option:not(.active) .shadow{
    bottom: -40px;
    box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}
.option:not(.active) .label {
    bottom: 50px;
    left: 10px;
}

.option:not(.active) .info >div{
    left: 20px;
    opacity: 0;
}
.shadow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.label{
    display: flex;
    position: absolute;
    right:0px;
    height: 40px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
    color: var(--defaultBackground6);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: white;
    white-space: pre;
}

.info > div{
    position: relative;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5 ease-out;
}

.main {
    font-weight: bold;
    font-size: 1.2rem;
}
.sub {
    transition-delay: 0.1s;
}